/dist/*
/node_modules/*
/vendor/*

*.sublime-project

*.sublime-workspace
.gulprc
.babelrc
.DS_Store
.editorconfig
docker-compose.yml
gulpfile.js
Makefile
package.json
webpack.config.js
settings/_*future.scss
package-lock.json
.sass-lint.yml
.scss-lint.yml
*.css
*.map
*/_testing.scss
