/**
 * .o-aspect-ratio
 */

$object: 'aspect-ratio';

// #{'.' + $global-objects-namespace + $object} {
//   @extend .u-pos-relative;
//
//   &:before {
//     @extend %u-block;
//     @extend #{'%u-width-100' + $global-unit-percent};
//     @extend %u-content-none;
//   }
//
//   > * {
//     @extend %u-pos-absolute;
//   }
//
//   @each $ratio in (50, 100) {
//
//     &--#{$ratio} {
//       &:before {
//         padding-top: #{$ratio * 1%};
//       }
//     }
//   }
// }


@each $ratio in ('16-9', '2-1') {
  $ratioNumbers: str-split($ratio, '-');
  @debug($ratioNumbers);
  $value: 100 / to-int(nth($ratioNumbers, 1)) * to-int(nth($ratioNumbers, 2));
  @debug($value);
  #{'.' + $global-objects-namespace + $object + '--' + $ratio} {
    @extend .u-pos-relative;

    &:before {
      @extend %u-block;
      @extend #{'%u-width-100' + $global-unit-percent};
      @extend %u-content-none;
      padding-top: #{$value * 1%};
    }

    > * {
      @extend %u-pos-absolute;
    }

  }
}


.test {
    @extend .o-aspect-ratio--16-9;
}
