/**
 * Visually hidden, but provided for screen readers (dictated).
 * Similar to WordPress .screen-reader-text:
 * https://make.wordpress.org/accessibility/handbook/markup/the-css-class-screen-reader-text/
 */
.o-dicate {
  @extend %u-ov-hidden;
  @extend %u-pos-absolute;
  @extend %u-width-1px;
  @extend %u-height-1px;
  @extend %u-clip-1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
