
@each $key, $value in ($auto-colors) {
  @include make-utility((
    alias: 'bg-color-' + $key,
    class: true,
    background-color: $value
  ));
}

@each $value in (cover, contain) {
  @include make-utility((
    alias: 'bg-size-' + $value,
    background-size: $value
  ));
}
