$aliases: (
  'flex',
  'inline-flex',
  'inline',
  'inline-block',
  'grid',
  'inline-grid',
  'block',
  'display-none',
  'contents'
);

@each $alias in $aliases {
  $value: str-replace($alias, 'display-');
  @include make-utility((
    alias: $alias,
    class: true,
    display: unquote($value)
  ));
}

@include make-utility((
  alias: border-box,
  class: true,
  box-sizing: border-box
));
