
@each $value in (absolute, relative) {
  @include make-utility((
    alias: 'pos-' + $value,
    class: true,
    position: $value
  ));
}

@each $property in (top, right, bottom, left) {

  // E.g. `@extend %u-right;` To align to right
  @include make-utility((
    class: true,
    alias: $property,
    $property: 0
  ));

  @each $value in (50, 100) {
    @include make-utility((
      alias: $property + '-' + $value + $global-unit-percent,
      class: true,
      $property: $value + '%'
    ));
  }

}
