
@each $property in (translateX, translateY) {
  @each $value in (-100, -50, 0, 50, 100) {
    @include make-utility((
      alias: $property + '-' + $value + 'pc',
      transform: $property + '(' + $value + '%)'
    ));
  }
}

@each $value in (-100, -50, 0, 50, 100) {
  @include make-utility((
    alias: 'translate-' + $value + 'pc',
    transform: 'translate' + '(' + $value + '% ' $value + '%)'
  ));
}
