$breakpoint-minimum: 320px;
$breakpoint-large: 1400px;

$breakpoint-smallest-font: $breakpoint-minimum;
$breakpoint-largest-font: $breakpoint-large;

$global-breakpoints: (

  uptolarge:
  'screen and (max-width: '$breakpoint-large - 1')',

  fromlarge:
  'screen and (min-width: '$breakpoint-large')',

);
