$color-white: #FFFFFF;
$color-black: #000000;

$color-orange: #EF845D;
$color-mist: #DCDFD2;
$color-brown: #CABBA0;

$color-gray-light: #EDE9E8;
$color-gray: #CBCCCE;


$color-brand: $color-white; // Contextual colour example
