$global-objects-namespace     : 'o-';
$global-utilities-namespace   : 'u-';
$global-components-namespace  : 'c-';
$global-interactions-namespace: 'i-';
$global-breakpoint-separator: '--';
$global-pseudo-separator: \@;
$global-unit-percent: 'pc';
$global-grid-columns: 12;
