/**
 * Number Utilities - Flex
 */

$numberUtilitiesFlexSettings: (
  (
    property: 'flex-grow',
    propertyClass: 'grow-',

    values: (
      (
        value: 0,
      ),
      (
        value: 1,
      ),
    ),
  ),
  (
    property: 'flex-shrink',
    propertyClass: 'shrink-',

    values: (
      (
        value: 0,
      ),
      (
        value: 1,
      ),
    ),
  ),
  (
    property: 'flex-basis',
    propertyClass: 'basis-',

    values: (
      (
        value: 0,
      ),
    ),
  ),
);
