/**
 * Number Utilities - Type
 */

$numberUtilitiesTypeSettings: (
  ( property: 'font-weight',
    propertyClass: 'weight-',

    values: (
      (
        value: 400,
      ),
      (
        value: 500,
      ),
      (
        value: 600,
      ),
    ),
  ),
  (
    property: 'line-height',
    propertyClass: 'line-',

    values: (
      (
        value: 1.18,
        valueClass: 'body',
      ),
      (
        value: 1.4,
        valueClass: 'data',
      ),
      (
        value: 1.5,
        valueClass: 1\.5,
      ),
    ),
  ),
);
