/**
 * Number Utilities
 * - optional: Ranges of Numbers
 * - optional: Steps within ranges.
 */

$numberUtilitiesSettings: (
  ( property: 'z-index',
    propertyClass: 'z-',

    ranges: (
      (
        start: -1,
        end: 1,
      ),
    ),
  ),
);
