
// Ye oldy (but untested) way

$utilities-gc-start-settings: (
  (
    property: ('grid-column', 'gc-start'),

    values: (
      (
        start: -1,
        end: 12,
        step: 1,
        unit: ('%', 'pc'),
      ),
    ),
  ),
);

$make-utilities: append($make-utilities, $utilities-gc-start-settings);


// New ish testing way

$gen-placeholder-utilities: append($gen-placeholder-utilities, (

    property: 'grid-column-start',
    property-alias: 'gc-start',
    value-start: -1,
    value-end: 12,
    step: 1,
    prefix: '',
    postfix: ''

));


// New-new-final-v2-forprint-final way(?)

@for $i from 0 through 12 {
  @include make-placeholder((
      alias: 'gc-start-' + $i,
      grid-column-start: $i
  ));
}
