$utilitiesZindexSettings: (
  (
    property: ('z-index', 'z'),

    values: (
      (
        start: -1,
        end: 2,
      ),
    ),
  ),
);

$makeUtilities: append($makeUtilities, $utilitiesZindexSettings);