/*

// 1. The thing that basically needs to be done (already works just like this in Uprise)

// For every potential property value
@for $i from -1 through 12 {

  $object: 'gc-start-' + $i;

  // For no breakpoint
  %#{$global-objects-namespace + $object} {
    grid-column-start: $i;
  }

}


$utilities-gc-start-settings: (
  (
    property: 'gc-start',

    /// ... There are already matching bits that shouldn't need to be repeated
  )

)


$utilities-width-settings: (
  (
    property: 'width',

    values: (
      (
        ('100%', '100pc'),
      ),
      (
        placeholders: (
          1px,
        ),
      ),
    ),
  ),
);

$make-utilities: append($make-utilities, $utilities-width-settings);

// It looks like make-utilities is given a massive list of settings and then it does them all at once?... Where/when?

*/



/*
Important numbers n stuff:

property: 'gc-start'
start: -1
end: 12
prefix: ''
postfix: ''
step: 0
*/

$gen-placeholder-utilities: append($gen-placeholder-utilities, (
    (
      property: 'grid-column-start',
      property-alias: 'gc-start',
      value-start: -1,
      value-end: 12,
      step: 1,
      prefix: '',
      postfix: ''
    ), // Trailing comma required(? because more than one thing will be appended-ed?)
));
