
// Old way

$utilities-position-settings: (
  (
    property: ('position', 'pos'),

    values: (
      (
        absolute,
        relative,
      ),
    ),
  ),
  (
    property: 'top',

    values: (
      (
        0,
        (50%, 50pc),
        (100%, 100pc),
      ),
    ),
  ),
  (
    property: 'left',

    values: (
      (
        0,
        (50%, 50pc),
        (100%, 100pc),
      ),
    ),
  ),
);

$make-utilities: append($make-utilities, $utilities-position-settings);


// New way(?)

@each $value in ('absolute', 'relative') {
  @include make-utility((
    alias: 'pos-' + $value,
    position: $value
  ));
}

@include make-utility((
  top: 0
));

@each $value in ('50', '100') {
  @include make-utility((
    alias: 'top-' + $value + 'pc',
    top: $value + '%'
  ));
}

@include make-utility((
  left: 0
));

@each $value in ('50', '100') {
  @include make-utility((
    alias: 'left-' + $value + 'pc',
    top: $value + '%'
  ));
}
