@function gutters($count) {

  @return calc(var(--GutterUnit) * #{$count});

}

/**
 * Unit Utilities
 */

$utilitiesSettings: (
  (
    property: ('position', 'pos-'),

    values: (
      (
        'fixed',
        ('relative', 'rel'),
        '0',
        '1rem',
        '2rem',
        '15rem',
      ),
      (
        value: ('absolute', 'abs'),
        breakpoints: ('uptolarge', 'fromlarge'),
        pseudos: ('visited', ('hover', 'focus')),
      ),
    ),
    placeholders: (
      'static',
      ('dynamic', 'dyn'),
      (gutters(2), '2gu'),
    ),

  ),
  // (
  //   property: 'top',

  //   values: (
  //     (
  //       '0',
  //       'auto',
  //       '1rem',
  //       '1.5rem',
  //       '2rem',
  //     ),
  //     (
  //       unit: ('%', 'pc'),
  //       start: 10,
  //       end: 90,
  //       steps: 10,
  //     ),
  //     (
  //       unit: 'vw',
  //       values: (10, 30, 35, 50, 85),
  //       pseudos: ('hover', 'focus'),
  //       breakpoints: ('uptosmall', 'smalltomed'),
  //     ),
  //   ),
  // ),
);
