$utilitiesVisibilitySettings: (
  (
    property: ('visibility', 'vis'),

    values: (
      (
        hidden,
        visible,
      ),
    ),
  ),
);

$makeUtilities: append($makeUtilities, $utilitiesVisibilitySettings);