$utilities-content-settings: (
  (
    property: 'content',

    values: (
      (
        placeholders: (
          ('""', 'none'),
        ),
      ),
    ),
  ),
);

$make-utilities: append($make-utilities, $utilities-content-settings);