$utilitiesContentSettings: (
  (
    property: 'content',

    values: (
      (
        placeholders: (
          ('""', 'none'),
        ),
      ),
    ),
  ),
);

$makeUtilities: append($makeUtilities, $utilitiesContentSettings);