
// Ye oldy way

$utilities-display-settings: (
  (
    property: ('display', ''),

    values: (
      (
        flex,
        grid,
        block,
      ),
    ),
  ),
);

$make-utilities: append($make-utilities, $utilities-display-settings);


// New way(?)

@each $value in ('auto', 'flex', 'grid', 'none') {
  @include make-utility((
    display: unquote($value)
  ));
}
