$utilities-overflow-settings: (
  (
    property: ('overflow', 'ov'),

    values: (
      (
        hidden,
      ),
    ),
  ),
  (
    property: ('overflow-x', 'ovx'),

    values: (
      (
        hidden,
      ),
    ),
  ),
  (
    property: ('overflow-y', 'ovy'),

    values: (
      (
        hidden,
      ),
    ),
  ),
);

$make-utilities: append($make-utilities, $utilities-overflow-settings);