
// Ye oldy way

$utilities-margin-settings: (
  (
    property: (('margin-left', 'margin-right'), 'mh'),

    values: (
      (
        auto,
      ),
    ),
  ),
);

$make-utilities: append($make-utilities, $utilities-margin-settings);


// New way(?)

@include make-placeholder((
  alias: 'mh',
  margin-left: auto,
  margin-right: auto
));