$utilities-background-settings: (
  (
    property: ('background-color', 'bgcolor'),

    values: (
      (
        ($colour-white, white),
      ),
    ),
  ),
  (
    property: ('background-repeat', 'bgrepeat'),

    values: (
      (
        (no-repeat, no),
      ),
    ),
  ),
  (
    property: ('background-size', 'bgsize'),

    values: (
      (
        cover,
        contain,
      ),
    ),
  ),
);

$make-utilities: append($make-utilities, $utilities-background-settings);