
$gen-placeholder-utilities: append($gen-placeholder-utilities, (

    property: 'grid-column-start',
    property-alias: 'gc-start',
    value-start: -1,
    value-end: 12,
    step: 1,
    prefix: '',
    postfix: ''

));
