
// Ye oldy way

$utilities-background-settings: (
  (
    property: ('background-color', 'bgcolor'),

    values: (
      (
        ($colour-white, white),
      ),
    ),
  ),
  (
    property: ('background-repeat', 'bgrepeat'),

    values: (
      (
        (no-repeat, no),
      ),
    ),
  ),
  (
    property: ('background-size', 'bgsize'),

    values: (
      (
        cover,
        contain,
      ),
    ),
  ),
);

$make-utilities: append($make-utilities, $utilities-background-settings);


// New way(?)

@each $key, $value in ($colours) {
  @include make-placeholder((
    alias: 'bgcolor-' + $key,
    background-color: $value
  ));
}

@include make-placeholder((
  alias: 'bgrepeat-no',
  background-repeat: no-repeat
));

@each $value in ('cover', 'contain') {
  @include make-placeholder((
    alias: 'bgsize-' + $value,
    background-size: $value
  ));
}
