/*
$utilities-color-settings: (
  (
    property: 'color',

    values: (
      (
        ($colour-white, white),
      ),
    ),
  ),
);

$make-utilities: append($make-utilities, $utilities-color-settings);
*/

@each $name, $hex in ($global-colors) {
  @include make-utility((
    alias: 'color-' + $name,
    class: true,
    color: $hex
  ));
}
