$utilities-pointer-events-settings: (
  (
    property: ('pointer-events', 'events'),

    values: (
      (
        none,
      ),
    ),
  ),
);

$make-utilities: append($make-utilities, $utilities-pointer-events-settings);