$utilities-display-settings: (
  (
    property: ('display', ''),

    values: (
      (
        flex,
        grid,
        block,
      ),
    ),
  ),
);

$make-utilities: append($make-utilities, $utilities-display-settings);