$utilities-clip-settings: (
  (
    property: 'clip',

    values: (
      (
        placeholders: (
          ('rect(0, 0, 0, 0)', '0'),
          ('rect(1px, 1px, 1px, 1px)', '1px'),
        ),
      ),
    ),
  ),
);

$make-utilities: append($make-utilities, $utilities-clip-settings);