$utilitiesPointerEventsSettings: (
  (
    property: ('pointer-events', 'events'),

    values: (
      (
        none,
      ),
    ),
  ),
);

$makeUtilities: append($makeUtilities, $utilitiesPointerEventsSettings);