$utilitiesDisplaySettings: (
  (
    property: ('display', ''),

    values: (
      (
        flex,
        grid,
        block,
      ),
    ),
  ),
);

$makeUtilities: append($makeUtilities, $utilitiesDisplaySettings);