/**
 * Word Utilities
 */

$wordUtilitiesSettings: (
  (
    property: 'overflow',
    propertyClass: 'ov-',

    values: (
      (
        value: 'hidden',
      ),
    ),
  ),
  (
    property: 'visibility',
    propertyClass: 'vis-',

    values: (
      (
        value: 'hidden',
      ),
    ),
  ),
  (
    property: 'position',
    propertyClass: 'pos-',

    values: (
      (
        value: 'absolute',
      ),
      (
        value: 'relative',
      ),
    ),
  ),
  (
    property: 'display',
    propertyClass: '',

    values: (
      (
        value: 'flex',
      ),
      (
        value: 'grid',
      ),
      (
        value: 'block',
      ),
      (
        value: 'none',
      ),
    ),
  ),
  (
    property: 'pointer-events',
    propertyClass: 'pointer-',

    values: (
      (
        value: 'none',
      ),
    ),
  ),
);
