
.type-h1 {
  @include fontScale(34, 40);
  letter-spacing: .5px;
  margin-left: -.1em;
  line-height: 1.5;
}

.type-h2 {
  @include fontScale(30, 34);
  line-height: 1.4;
}

.type-h3 {
  @include fontScale(28, 32);
  line-height: 1.3;
}
