
@mixin make-placeholder($args)
{

  // If 'alias' key exists in $args, use that for the placeholder-name,
  // otherwise use the key and value of the first property in $args
  $placeholder-name: map-use(
    $args,
    'alias',
    first(map-keys($args)) + '-' + first(map-values($args))
  );

  $placeholder-name: $global-utilities-namespace + $placeholder-name;

  // Use the $args map, minus the alias (if it exists) as the properties map
  $properties: map-remove($args, 'alias');

  // Debug output to list off all the placeholders being made:
  @debug('Making placeholder: ' + $placeholder-name);

  // For no breakpoint
  %#{$placeholder-name} {
    @each $property, $value in $properties {
      #{$property}: $value;
    }
  }

  // For every breakpoint
  @each $breakpoint-key, $breakpoint-value in $global-breakpoints {
    %#{$placeholder-name + '--' + $breakpoint-key} {
      @include breakpoint($breakpoint-key) {
        @each $property, $value in $properties {
          #{$property}: $value;
        }
      }
    }
  }
}
