@mixin font-scale($smallest, $largest) {
  font-size: #{to-px($smallest)};

  @media (min-width: #{to-px($breakpoint-smallest-font)}) and (max-width: #{to-px($breakpoint-largest-font)}) {
    $font-diff: strip-unit($largest) - strip-unit($smallest);
    $breakpoint-diff: strip-unit($breakpoint-largest-font) - strip-unit($breakpoint-smallest-font);
    $vw-minus-smallest-breakpoint: 100vw - #{to-px($breakpoint-smallest-font)};

    font-size: calc(#{to-px($smallest)} + #{$font-diff} * (#{$vw-minus-smallest-breakpoint}) / #{$breakpoint-diff});
  }

  @media (min-width: #{to-px($breakpoint-largest-font)}) {
    font-size: #{to-px($largest)};
  }
}
