@mixin makeUnitUtilities($settings) {

  @each $propertySetting in $settings {

    $property: map-get($propertySetting, property);

    $propertyClass: '';
    @if map-has-key($propertySetting, propertyClass) {
      $propertyClass: map-get($propertySetting, propertyClass);
    }
    @else {
      $propertyClass: $property;
    }

    @if map-has-key($propertySetting, units) {

      @each $unitSetting in map-get($propertySetting, units) {

        $unit: map-get($unitSetting, unit); // required

        $unitClass: '';
        @if map-has-key($unitSetting, unitClass) {
          $unitClass: map-get($unitSetting, unitClass);
        }
        @else {
          $unitClass: $unit;
        }

        @each $valueSetting in map-get($unitSetting, values) {

          $value: map-get($valueSetting, value);

          $valueClass: '';
          @if map-has-key($valueSetting, valueClass) {
            $valueClass: map-get($valueSetting, valueClass);
          }
          @else {
            $valueClass: $value;
          }

          @if (type_of($value) == number) {
            @if (unitless($value) == true) {
              $value: #{$value + $unit};
            }
          }

          @if map-get($valueSetting, global) != false {

            $selector: #{'.' + $global-utilities-namespace + $propertyClass + $valueClass + $unitClass};

            @include makeClass($selector, $property, $value);
          }

          @if map-has-key($valueSetting, responsive) {
            @each $breakpointName in map-get($valueSetting, responsive) {

              @include breakpoint($breakpointName) {

                $selector: #{'.' + $global-utilities-namespace + $propertyClass + $valueClass + $unitClass + $global-breakpoint-separator + $breakpointName};

                @include makeClass($selector, $property, $value);
              }
            }
          }
        }
      }
    }

    @if map-has-key($propertySetting, keywords) {

      @each $keywordSetting in map-get($propertySetting, keywords) {

        $keyword: map-get($keywordSetting, keyword); // required

        $keywordClass: '';
        @if map-has-key($keywordSetting, keywordClass) {
          $keywordClass: map-get($keywordSetting, keywordClass);
        }
        @else {
          $keywordClass: $keyword;
        }

        @if map-get($keywordSetting, global) != false {

          $selector: #{'.' + $global-utilities-namespace + $propertyClass + $keywordClass};

          @include makeClass($selector, $property, $keyword);
        }

        @if map-has-key($keywordSetting, responsive) {
          @each $breakpointName in map-get($keywordSetting, responsive) {

            @include breakpoint($breakpointName) {
              $selector: #{'.' + $global-utilities-namespace + $propertyClass + $keywordClass + $global-breakpoint-separator + $breakpointName};

              @include makeClass($selector, $property, $keyword);
            }
          }
        }
      }
    }
  }
}
